<!-- Footer -->
<div class="footer" th:fragment="footer">
    <a href="/" class="logo">Note<span style="font-weight: 700">Share</span></a>
    <div>
        <a href="#">
            <img th:src="@{icons/Facebook.png}" alt="facebook"/>
        </a>
        <a href="#">
            <img th:src="@{icons/Instagram.png}" alt="instagram"/>
        </a>
        <a href="#">
            <img th:src="@{icons/Twitter.png}" alt="twitter"/>
        </a>
    </div>
    <div class="flex">
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>

</div>