<!-- Footer -->
<div class="footer" th:fragment="footer">
    <a href="/" class="logo">NoteShare © 2021</a>
    <div class="social-media">
        <a href="#">
            <img th:src="@{/icons/Facebook.png}" alt="facebook"/>
        </a>
        <a href="#">
            <img th:src="@{/icons/Instagram.png}" alt="instagram"/>
        </a>
        <a href="#">
            <img th:src="@{/icons/Twitter.png}" alt="twitter"/>
        </a>
    </div>
    <div class="flex">
        <a href="/about">About</a>
        <a href="/contact">Contact us</a>
    </div>

</div>