/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 400;
}

p {
    color: #4B4B4B;
}

a {
    text-decoration: none;
    color: #4B4B4B;
}

input:focus {
    border: none;
    outline: none;
    color: #4B4B4B;
}

select {
    cursor: pointer;
    color: #4B4B4B;
}

select:focus {
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

.content {
    margin-top: 60px;
}

.container {
    max-width: 880px;
    margin: auto;
}

.container-large {
    max-width: 1280px;
    margin: auto;
}

.founder{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ourFounders{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}

.founder-abt {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.founder-title {
    font-family: "Arial Black";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
}

.founder-nick {
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 20px;
}

.founder-text {
    font-size: 18px;
}

.founder{
    display: flex;
    justify-content: space-between;
}

.founder-img{
    max-height: 250px;
}

.flex {
    display: flex;
}

/* Scroll bar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #A3A3A3  rgba(0, 0, 0, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background:  rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #A3A3A3;
    border-radius: 20px;
    border: none;
}

/* Header */

.navbar {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 3rem;
    font-size: 1.25rem;
}

.login {
    margin-right: 3rem;
}

/* Footer */

.footer {
    background-color: #4B4B4B;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #DDDDDD;
    margin-right: 2rem;
    font-size: 1rem;
}

.footer img {
    width: 30px;
    height: 30px;
}

.footer img:hover {
    filter: brightness(1.25);
}

/* Splash page */

.splash-img {
    background-image: url("../img/outdoor-study.svg");
    background-size: 565px 319px;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.splash-page {
    width: 400px;
    height: 60vh;
    display: flex;
    align-items: center;
}

.splash-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.splash-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-button {
    width: 230px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #EA86FB, #2ED3FF, #2AC0E8, #EA86FB);
    border-radius: 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-about {
    height: 30vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.splash-about p {
    margin-bottom: 2rem;
}

.splash-about a:hover {
    color: #EA86FB;
}


/* Course List */
.all-courses {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #FBFBFB;
    background-image: url("../img/leaf-bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 85vh;
    overflow: hidden;
}

.filter {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.filter label {
    margin-right: 0.5rem;
}

.filter select {
    width: 165px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.filter-submit {
    width: 100px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.search {
    width: 880px;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    max-height: 52vh;
}

/* My course list */
.my-courses {
    padding-top: 3rem;
    padding-bottom: 4rem;
    height: 50vh;
    background: linear-gradient(180deg, rgba(255, 95, 239, 0.37) 0%, rgba(11, 164, 205, 0.26) 100%);
    overflow: hidden;
}

.my-course-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    max-height: 30vh;
}

/* Course card */
.course-card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 265px;
    height: 110px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.file-card {
    width: 150px;
    height: 265px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow:  0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #E8E8E8;
}

.file-img{
    width: 150px;
    height: 220px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.file-detail{
    width: 150px;
    height: 50px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.course-list-item:nth-child(3n-1) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.course-card:hover {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, rgba(46,211,255,1) 0%, rgba(234,134,251,1) 100%);
}

.course-card p {
    color: #686868;
}

.course-card h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

.course-card .school-name {
    color: #A3A3A3;
    font-size: 0.75rem;
}

/* User profile */
.user-info{
    display: flex;
    flex-direction: row;
}
.userinfo1{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.user-pic{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.logout{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.logout-submit{
    width: 100px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    align-items: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.user-text{
    display: flex;
    width: 40%;
    margin-left: 3rem;
}
.user-text li{
    margin-bottom: 1rem;
}

.user-text ul{
    justify-content: center;
    margin-top: 3rem;
}
/* Signup/login */
.form-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form-page h1 {
    text-align: center;
    font-size: 2.5rem;
}

.form-section {
    background: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
}

.form-user, .form-file {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-user > input, .form-user > select, .form-file > input, .form-file > select, .form-file > textarea {
    width: 340px;
    height: 40px;
    margin-top: 1.5rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.form-file > textarea {
    resize: none;
    padding-top: 0.5rem;
}

.form-user > input::placeholder, .form-file > input::placeholder {
    color: #4B4B4B;
}

.error-page{
    position: fixed;
    top: 30%;
    left: 40%;
    text-align: center;
}


.input-note {
    color: #717171;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

/* Course page*/
.course-page {
    height: 100vh;
    padding-top: 3rem;
}

.course-title {
    margin-bottom: 2rem;
}

.file-section {
    background: #EEEEEE;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 60vh;
}

.upload-button {
    float: right;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upload-button p {
    color: #FFFFFF;
}

/* Upload page */
.upload-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    .container,  .container-large{
        margin-left: 2rem;
        margin-right: 2rem;
    }

}
@media (max-width: 1000px) {
    .container, .container-large {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .splash-page {
        justify-content: center;
    }

    .splash-img {
        background: #FFFFFF;
    }

    .splash-about {
        height: 40vh;
    }

    .social-media {
        display: none;
    }

    .search {
        width: 100%;
    }

    .filter {
        flex-direction: column;
    }

    .filter select {
        width: 100%;
        margin-bottom: 1rem;
    }

    .filter-submit {
        width: 100%;
    }

    .all-courses {
        height: 100vh;
    }

    .course-list {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 50vh;
    }

    .my-courses {
        height: 50vh;
    }

    .my-course-list {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 25vh;
    }

    .course-list-item:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
    }

    .course-card {
        width: 100%;
    }

    .course-card h3 {
        width: 75%;
        overflow: hidden;
        white-space: normal;
    }

    .founder-img{
        max-height: 0px;
    }



}
