/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    color: #4B4B4B;
}

a {
    text-decoration: none;
    color: #4B4B4B;
}

.content {
    margin-top: 60px;
}

.container {
    max-width: 880px;
    margin: auto;
}

.flex {
    display: flex;
}

/* Header */

.navbar {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 3rem;
    font-size: 1.25rem;
}

.login {
    margin-right: 3rem;
}

/* Footer */

.footer {
    background-color: #4B4B4B;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #DDDDDD;
    margin-right: 2rem;
    font-size: 1rem;
}

.footer img {
    width: 30px;
    height: 30px;
}

.footer img:hover {
    filter: brightness(1.25);
}

/* Splash page */

.splash-img {
    background-image: url("../img/outdoor-study.svg");
    background-size: 565px 319px;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.splash-page {
    height: 60vh;
    display: flex;
    align-items: center;
}

.splash-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.splash-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-button {
    width: 230px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #EA86FB, #2ED3FF, #2AC0E8, #EA86FB);
    border-radius: 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-button:focus {
    outline: none;
}

.splash-about {
    height: 30vh;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.splash-about p {
    margin-bottom: 2rem;
}

.splash-about a:hover {
    color: #EA86FB;
}

.all-courses {
    padding-top: 2rem;
    background: #F5F5F5
}

/* Course List */
.filter {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.filter label {
    margin-right: 0.5rem;
}

.filter select {
    width: 175px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.search {
    width: 880px;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

@media (max-width: 880px) {
    .container {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .splash-page {
        justify-content: center;
    }

    .splash-img {
        background: #FFFFFF;
    }

    .splash-about {
        height: 40vh;
    }

    .social-media {
        display: none;
    }

    .search {
        width: 100%;
    }

    .filter {
        flex-direction: column;
    }

    .filter select {
        width: 100%;
        margin-bottom: 1rem;
    }

}
