/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #404040;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 400;
}

p {
    color: #4B4B4B;
}

a {
    text-decoration: none;
    color: #4B4B4B;
}

input:focus {
    border: none;
    outline: none;
    color: #4B4B4B;
}

select {
    cursor: pointer;
    color: #4B4B4B;
}

select:focus {
    border: none;
    outline: none;
}

.content {
    margin-top: 60px;
}

.container {
    max-width: 880px;
    margin: auto;
}

.flex {
    display: flex;
}

/* Scroll bar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #A3A3A3  rgba(0, 0, 0, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background:  rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #A3A3A3;
    border-radius: 20px;
    border: none;
}

/* Header */

.navbar {
    background: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 3rem;
    font-size: 1.25rem;
}

.login {
    margin-right: 3rem;
}

/* Footer */

.footer {
    background-color: #4B4B4B;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #DDDDDD;
    margin-right: 2rem;
    font-size: 1rem;
}

.footer img {
    width: 30px;
    height: 30px;
}

.footer img:hover {
    filter: brightness(1.25);
}

/* Splash page */

.splash-img {
    background-image: url("../img/outdoor-study.svg");
    background-size: 565px 319px;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.splash-page {
    height: 60vh;
    display: flex;
    align-items: center;
}
.getstarted {
    height: 30vh;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.signup-sheet{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 542px;
}
.signup-container{

}

.signup-sheet input{
    display: flex;
    flex-wrap: nowrap;
    width: 330px;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.signup-sheet select{
    display: flex;
    flex-wrap: nowrap;
    width: 330px;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.splash-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.splash-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-button {
    width: 230px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #EA86FB, #2ED3FF, #2AC0E8, #EA86FB);
    border-radius: 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.splash-button:focus {
    outline: none;
}

.splash-about {
    height: 30vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.splash-about p {
    margin-bottom: 2rem;
}

.splash-about a:hover {
    color: #EA86FB;
}


/* Course List */
.all-courses {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #FBFBFB;
    background-image: url("../img/leaf-bg.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 85vh;
}

.filter {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.filter label {
    margin-right: 0.5rem;
}

.filter select {
    width: 165px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.filter-submit {
    width: 100px;
    height: 35px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.search {
    width: 880px;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    max-height: 52vh;
}

/* Course card */
.course-card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 265px;
    height: 100px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.course-list-item:nth-child(3n-1) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.course-card:hover {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(0deg, rgba(46,211,255,1) 0%, rgba(234,134,251,1) 100%);
}

.course-card p {
    color: #686868;
}

.course-card h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.course-card .school-name {
    color: #A3A3A3;
    font-size: 0.75rem;
}

/* Sign up / Login */
.form-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form-page h1 {
    text-align: center;
    font-size: 2.5rem;
}

.form-section {
    background: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 4rem;
}

.form-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-user > input, .form-user > select {
    width: 340px;
    height: 40px;
    margin-top: 1.5rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
}

.form-user > input::placeholder {
    color: #4B4B4B;
}

.input-note {
    color: #717171;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0;
}


@media (max-width: 880px) {
    .container {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .splash-page {
        justify-content: center;
    }

    .splash-img {
        background: #FFFFFF;
    }

    .splash-about {
        height: 40vh;
    }

    .social-media {
        display: none;
    }

    .search {
        width: 100%;
    }

    .filter {
        flex-direction: column;
    }

    .filter select {
        width: 100%;
        margin-bottom: 1rem;
    }

    .filter-submit {
        width: 100%;
    }

    .all-courses {
        height: 100vh;
    }

    .course-list {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 56vh;
    }

    .course-list-item:nth-child(3n-1) {
        margin-left: 0;
        margin-right: 0;
    }

    .course-card {
        width: 100%;
    }

}
