<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>NoteShare - About</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="content">
    <div class="splash-img">
        <div class="container">
            <div class="splash-page">
                <div>
                    <div class="splash-title">
                        <h1>What we're about:</h1>
                        <br>
                        <p>Noteshare is a place where you can share and access knowledge relating to courses in your university! to courses in your university!</p>
                        <br>
                        <p>Take the first step towards a utopian college life and join today ;)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="ourFounders"> Meet our founders!</h1>
    <div class="founders">
        <div class="founder">
            <img th:src="@{/img/obb.PNG}" class="founder-img">
            <div class="founder-abt">
                <div class="founder-title">Ósvaldur Knudsen</div>
                <div class="founder-nick">The Visionary -</div>
                <div class="founder-text">Ósvaldur is a serial entrepreneur and we will all make a lot of money from his latest idea!</div>
            </div>
        </div>
        <hr>
        <div class="founder">
            <div class="founder-abt">
                <div class="founder-title">Þórður Skúlason</div>
                <div class="founder-nick">Development Specialist -</div>
                <div class="founder-text">Doddi lives by lord Shia´s teachings and does not let his memes be dreams</div>
            </div>
            <img th:src="@{/img/dodd.jpg}" class="founder-img">
        </div>
        <hr>
        <div class="founder">
            <img th:src="@{/img/turbo.jpg}" class="founder-img">
            <div class="founder-abt">
                <div class="founder-title">Þórir Þórðarson</div>
                <div class="founder-nick">Aspiring Hairstylist -</div>
                <div class="founder-text">Tóti Túrbó is a world record holder in speed haircutting. However, his haircuts suck and he has to do real work to make a living.</div>
            </div>
        </div>
        <hr>
        <div class="founder">
            <div class="founder-abt">
                <div class="founder-title">Rögnvaldur Bjarnason</div>
                <div class="founder-nick">Street Connections -</div>
                <div class="founder-text">Rögnvaldur is an Ex-Convict. He was convicted for pirating 1000 Bollywood movies. Now he handles all of our "low-level" contacts.</div>
            </div>
            <img th:src="@{/img/rogg.PNG}" class="founder-img">
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>