<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>NoteShare - About</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="content">
    <div class="splash-img">
        <div class="container">
            <div class="splash-page">
                <div>
                    <div class="splash-title">
                        <h1>What we're about:</h1>
                        <br>
                        <p>Noteshare is a place where you can</p>
                        <p>share and access knowledge relating</p>
                        <p>to courses in your university!</p>
                        <br>
                        <p>Take the first step towards a utopian</p>
                        <p>college life and join today ;)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="founders"> Founders:
    <div class="founder">
        <img src="" class="founder_img"></img>
        <div class="founder_abt">
            <h3 class="founder_title">Ósvaldur Knudsen</h3>
            <div class="founder_text"></div>
        </div>
    </div>
    <div  class="founder">
        <img src="" class="founder_img"></img>
        <div class="founder_abt">
            <h3 class="founder_title">Þórður Skúlason</h3>
            <div class="founder_text"></div>
        </div>
    </div>
    <div class="founder">
        <img src="" class="founder_img"></img>
        <div class="founder_abt">
            <h3 class="founder_title">Þórir Þórðarson</h3>
            <div class="founder_text"></div>
        </div>
    </div>
    <div class="founder">
        <img src="" class="founder_img">
        <div class="founder_abt">
            <h3 class="founder_title">Rögnvaldur Pétur Bjarnason</h3>
            <div class="founder_text"></div>
        </div>
    </div>
</h1>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>