<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="'NoteShare - ' + ${course.longName}"></title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Content -->
<div class="content">
    <div class="course-page">
        <h1 class=" container-large course-title" th:text="${course.shortName} + ' - ' + ${course.longName}"></h1>
        <div class="file-section">
            <div class="container-large">
                <h2>Notes</h2>
                <div>
                    <!-- File card -->
                </div>
            </div>
        </div>
        <div class="container-large">
            <a th:if="${loggedInUser}" th:href="@{/course/{id}/upload(id=${course.id})}">
                <div class="splash-button upload-button">
                    <p>Upload notes</p>
                    <p style="font-size: 1.5rem">+</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


