<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>NoteShare</title>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
        <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" media="all">
    </head>
    <body>

        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>

        <!-- Content -->
        <div class="content">
            <!-- Display splash page if not logged in -->
            <div th:if="${loggedInUser == null}">
                <div class="splash-img">
                    <div class="container">
                        <div class="splash-page">
                            <div>
                                <div class="splash-title">
                                    <h1>Share notes</h1>
                                    <h1>Learn faster</h1>
                                </div>
                                <div class="splash-button-section">
                                    <button onclick="window.location.href='/signup';" class="splash-button">Sign up for free</button>
                                    <p>Because sharing is caring</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="splash-about">
                    <div class="container">
                        <h2>What is Note<span style="color: #0BA4CD; font-weight: 700">Share</span>?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nam sit amet ligula sapien. Aliquam ac venenatis felis,
                            a molestie massa. Quisque aliquet mi ut massa pharetra consectetur.
                            Maecenas sodales elementum dolor, vitae scelerisque risus sodales a.
                        </p>
                        <a href="/about">Read more</a>
                    </div>
                </div>
            </div>

            <!-- Display my courses if logged in -->
            <div th:if="${loggedInUser != null}">
                <div class="files-section">
                    <div class="container">
                        <h2><span style="font-weight: 700">MY</span> courses</h2>
                        <!-- Course list -->
                        <div th:replace="fragments/MYcourseList :: MYcourseList"></div>
                    </div>
                </div>
            </div>

            <div class="all-courses" id="all-courses">
                <div class="container">
                    <h2><span style="font-weight: 700">All</span> courses</h2>
                    <!-- Course list -->
                    <div th:replace="fragments/courseList :: courseList"></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>


