<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>NoteShare - signup</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Content -->
<div class="form-page">
    <h1>Get started with NoteShare!</h1>
    <div class="form-section">
        <form class="form-user" id="signup-form" th:action="@{/signup}" th:object="${user}" method="post">
            <input th:field="*{email}" type="email" id="email" name="email" placeholder="Email" autocomplete="off">
            <p class="input-note">Note: Email has to be a valid school email</p>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password" autocomplete="off">
            <select th:field="*{schoolId}"  id="school" name="school">
                <option th:value="${0}" disabled selected>School</option>
                <option th:each="school : ${schools}" th:value="${school.id}" th:text="${school.name}"></option>
            </select>
        </form>
        <button class="splash-button" type="submit" form="signup-form" value="Submit">Sign up</button>
        <p>Already have an account? <a href="/login" style="font-weight: 700">Login</a></p>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


