<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>NoteShare - signup</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
    <link rel="icon" type="image/x-icon" href="../static/icons/notebook.png" th:href="@{/icons/notebook.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Content -->
<div class="content">
    <div class="getstarted">
        <div class="container">
         <div class="splash-title">
                <h1>Get started with NoteShare!</h1>
        </div>
        </div>
    </div>
        <div class="container">
                <form id="filter" th:action="@{/signup}" method="post">
                    <div class="signup-sheet">
                        <input class="singup-input" type="text" id="email" name="singupinput" placeholder="Email" autocomplete="off">
                        <input class="singup-input" type="text" id="password" name="singupinput" placeholder="Password" autocomplete="off">
                        <select class="singup-input" type="text" id="schooldropdown" name="singupinput" autocomplete="off">
                            <option value="0" selected="selected">Any</option>
                            <option value="1">University of Iceland</option>
                            <option value="2">Reykjavik University</option>
                        </select>
                        <div class="splash-button-section">
                            <button onclick="window.location.href='/';" class="splash-button">Sign up</button>
                            <p>Already have an account? <a href="/login">Login</a></p>
                        </div>

                    </div>
                </form>
        </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


